{% extends 'home/base.html' %}
{% load static %}

{% block CONTENIDO %}
<div class="container mb-5 pt-5 py-5 text-center d-block mx-auto filtro-formulario">
    <h2>CabreraBot</h2>
    <div class="chat-container">
        {% if respuesta %}
            <div class="chat-message user-message">
                <strong>Tú:</strong> {{ pregunta }}
            </div>
            <div class="chat-message bot-message">
                <strong>CabreraBot:</strong> {{ respuesta }}
            </div>
        {% endif %}
    </div>
    
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="pregunta" class="form-control text-center" placeholder="Haz una pregunta" required>
        </div>
        <button type="submit" class="btn btn-custom btn-custom-success mx-auto">Enviar</button>
    </form>
</div>

{% endblock %}