/* Estilos para la imagen de fondo */
.img-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que la imagen cubra todo el área */
    z-index: -1; /* Envía la imagen detrás de otros elementos */
}

.capa-opacidad {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}


/* Animación para la imagen de fondo de la página principal */
@keyframes grow {
    0% {
        transform: scale(1); 
    }
    100% {
        transform: scale(1.1); 
    }
}

/* Clase para aplicar la animación de la imagen de fondo de la página principal */
.animate-grow {
    animation: grow 2s ease-in-out; 
    animation-fill-mode: forwards; /* Mantiene el estado final de la animación */
}



.custom-dropdown {
    position: relative;
}

.custom-dropdown-toggle {
    color: #333;
    font-weight: 500;
    transition: transform 0.3s ease;
}


.card-body-detalles {
    padding: 1rem; 
    border: none; 
    transition: all 0.3s ease, padding 0.3s ease;
    overflow: hidden;
}

.custom-dropdown-toggle.collapsed {
    transform: rotate(0deg); 
    transition: all 0.3s ease-in-out;
}

.custom-dropdown-toggle:not(.collapsed) {
    transform: rotate(90deg); 
    transition: all 0.3s ease-in-out;
}


/* Estilos para el formulario en la plantilla nuevos y usados */
@keyframes slideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animacion {
    animation: slideIn 1s ease forwards;
}


.container .filtro-formulario {
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f8f9fa;
    max-width: 500px;
    margin: auto;   
}

.container .filtro-formulario select {
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #495057;
    appearance: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.container .filtro-formulario select:focus {
    background-color: #fff;
    outline: none; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}



/* Estilos para los botones en la plantilla nuevos y usados */
.container .btn-custom {
    width: 150px;
    border-radius: 20px;
    font-size: 0.875rem;
    font-weight: bold; 
    padding: 10px 20px;
    transition: background-color 0.5s ease, transform 0.5s ease; 
}

/* Botón de Ir a usados */
.container .btn-custom-info {
    background-color: #99c2ff;
    border: 1px solid #99c2ff;
    color: #fff;
}

.container .btn-custom-info:hover {
    background-color: #80bfff;
    transform: scale(1.05);
    color: #fff; 
}

.container .btn-custom-info:active {
    background-color: #80bfff; 
    transform: scale(1.1); 
}

/* Botón de Menú principal */
.container .btn-custom-success {
    background-color: #28a745;
    border: none;
    color: #fff;
}

.container .btn-custom-success:hover {
    background-color: #23933d;
    transform: scale(1.05);
    color: #fff; 
}

.container .btn-custom-success:active {
    background-color: #23933d; 
    transform: scale(1.1); 
}

/* Botón de Limpiar filtros */
.container .btn-custom-danger {
    background-color: #dc3545;
    border: none;
    color: #fff;
}

.container .btn-custom-danger:hover {
    background-color: #c82333;
    transform: scale(1.05);
    color: #fff; 
}

.container .btn-custom-danger:active {
    background-color: #c82333; 
    transform: scale(1.1); 
}


/* Botón de Ver más detalles */
.container .btn-custom-details {
    background-color: #ededed; 
    color: #000;
    border: none;
    box-shadow: 0 3px rgba(0, 0, 0, 0.2);
    transition: background-color 0.5s ease, transform 0.5s ease; 
}

.container .btn-custom-details:hover {
    background-color: #e7e5e5; 
    transform: scale(1.05);
}

.container .btn-custom-details:active {
    background-color: #e7e5e5; 
    transform: scale(1.1);
    color : #000;
}

/* Botón de WhatsApp */
.container .btn-custom-whatsapp {
    background-color: #28a745; /* Verde */
    color: #fff;
    border: none;
    transition: background-color 0.5s ease, transform 0.5s ease; /* Transición más lenta */
}

.container .btn-custom-whatsapp:hover {
    background-color: #23933d;
    transform: scale(1.05);
}

.container .btn-custom-whatsapp:active {
    background-color: #23933d; 
    transform: scale(1.1);
}


/* Modal para ver más detalles */

.modal-content {
    background: #f8f9fa;
    border-radius: 15px;
}

.list-group-item {
    position: relative; /* Contexto para el pseudo-elemento */
    padding: 15px; 
    border: none;
}

.list-group-item::after {
    content: ''; /* Requiere para que el pseudo-elemento se muestre */
    position: absolute; /* Posiciona este elemento en relación al padre */
    bottom: 0; 
    left: 0; 
    right: 0;
    height: 2px; 
    background: linear-gradient(to right, #c82333, rgba(200, 35, 51, 0));
}



.modal-header {
    border-bottom: none;
}

.modal-title {
    font-size: 1.5rem;
    color: #343a40;
}

.text-center {
    margin: 1rem 0;
}


/* Botón de Ir hacia arriba */
.btn-top {
    font-size: 25px;
    padding: 10px;
    text-decoration: none; 
    color: #45444483; 
    border: none; 
    box-shadow: none; 
    display: flex;
    align-items: center;
    justify-content: center;
    transition: none; 
    margin: 0 auto; 
}

.btn-top:hover {
    color: #45444483;
    box-shadow: none;
}

/* Estilos para centrar y mejorar el formulario de búsqueda */
.formulario_busqueda {
    max-width: 600px; 
    margin: auto; 
    margin-bottom: 5rem;
    padding: 3rem; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 12px; 
    background-color: #fff; 


}

.formulario_busqueda .form-control {
    padding: 0.75rem 1rem; 
    margin-bottom: 1.5rem; 
    font-size: 1rem; 
    border-radius: 8px; 
}

.formulario_busqueda input {
    text-align: center;
    margin: 0 auto; 
    padding: 10px; 
    border: none;
    border-bottom: 2px solid #000; 
}

.formulario_busqueda input:focus {
    outline: none; 
    border-bottom: 2px solid #000; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
}


.formulario_busqueda input::placeholder {
    font-weight: bold; 
}

