{% extends "home/base.html" %}
{% load static %}

<!-- CONTENIDO PRINICIPAL | HOME -->
{% block CONTENIDO %}
<div class="container-fluid p-0 position-relative" style="height: 100vh; overflow: hidden;">
    <!-- Imagen de fondo -->
    <img src="{% static 'home/img/agencia3.jpeg' %}" alt="Imagen de la agencia Cabrera Automotores con autos en exhibición" class="img-background animate-grow" />
    <!-- Capa de opacidad para la Imagen de fondo -->
    <div class="capa-opacidad"></div>
    
    <!-- Texto de bienvenida y url hacia los templates de vehiculos -->
    <div class="position-relative d-flex justify-content-center align-items-center w-100 h-100">
        <div class="text-center text-white">
            <h2>Encontrá tu nuevo auto</h2>
            <div class="mb-4">
                <a href="{% url 'vehiculo:nuevos' %}" class="btn btn-danger rounded-pill d-inline-block mb-3 shadow">0km</a>
                <a href="{% url 'vehiculo:usados' %}" class="btn btn-danger rounded-pill d-inline-block mb-3 shadow">Usado</a>
            </div>
        </div>
    </div>
</div>
{% endblock CONTENIDO %}
