{% extends "home/base.html" %}

{% block CONTENIDO %}
<div class="container mt-5 mb-5 pt-5">
    <h1 class="text-center mb-4" style="font-size: 1.8rem;">Ingrese sus datos y preferencias</h1>
    <form method="POST" action="{% url 'vehiculo:formulario_busqueda' %}" class="formulario-busqueda">
        {% csrf_token %}
        
        <h2 class="text-center mb-5" style="color: #FF0000; font-weight: bold; font-size: 1.5rem;">Cabrera Automotores</h2>

        {% if form.non_field_errors %}
            <div class="text-danger text-center mb-3">
                {% for error in form.non_field_errors %}
                    <small>{{ error }}</small><br>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Nombre completo -->
        <div class="form-group">
            <div class="input-group">
                <span style="display: flex; align-items: center; margin-right: 10px; margin-bottom: 12px;">
                    <i class="fas fa-user" style="font-size: 0.9rem;"></i>
                </span>
                <input type="text" class="form-control" id="nombreCompleto" name="nombre_completo" placeholder="Nombre Completo" required value="{{ form.nombre_completo.value|default:'' }}">
            </div>
            {% for error in form.nombre_completo.errors %}
                <div class="text-danger text-center"><small>{{ error }}</small></div>
            {% endfor %}
        </div>

        <!-- Número celular -->
        <div class="form-group">
            <div class="input-group">
                <span style="display: flex; align-items: center; margin-right: 10px; margin-bottom: 12px;">
                    <i class="fas fa-phone" style="font-size: 0.9rem;"></i>
                </span>
                <input type="tel" class="form-control" id="numeroCelular" name="numero_celular" placeholder="Número Celular" required value="{{ form.numero_celular.value|default:'' }}">
            </div>
            {% for error in form.numero_celular.errors %}
                <div class="text-danger text-center"><small>{{ error }}</small></div>
            {% endfor %}
        </div>

        <!-- Marca -->
        <div class="form-group">
            <div class="input-group">
                <span style="display: flex; align-items: center; margin-right: 10px; margin-bottom: 12px;">
                    <i class="fas fa-car" style="font-size: 0.9rem;"></i>
                </span>
                <input type="text" class="form-control" id="marca" name="marca" placeholder="Marca del Vehículo" required value="{{ form.marca.value|default:'' }}">
            </div>
            {% for error in form.marca.errors %}
                <div class="text-danger text-center"><small>{{ error }}</small></div>
            {% endfor %}
        </div>

        <!-- Modelo -->
        <div class="form-group">
            <div class="input-group">
                <span style="display: flex; align-items: center; margin-right: 10px; margin-bottom: 12px;">
                    <i class="fas fa-car-side" style="font-size: 0.9rem;"></i>
                </span>
                <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo del Vehículo" required value="{{ form.modelo.value|default:'' }}">
            </div>
            {% for error in form.modelo.errors %}
                <div class="text-danger text-center"><small>{{ error }}</small></div>
            {% endfor %}
        </div>

        <!-- Años -->
        <div class="form-group">
            <div class="input-group">
                <span style="display: flex; align-items: center; margin-right: 10px; margin-bottom: 12px;">
                    <i class="fas fa-calendar-check" style="font-size: 0.9rem;"></i>
                </span>
                <input type="number" class="form-control mx-2" id="añoInicio" name="año_inicio" placeholder="Desde" min="2008" max="2024" required value="{{ form.año_inicio.value|default:'' }}">
                <input type="number" class="form-control mx-2" id="añoFin" name="año_fin" placeholder="Hasta" min="2008" max="2024" required value="{{ form.año_fin.value|default:'' }}">
            </div>
            <!-- Muestra el error debajo de cada campo -->
            {% for error in form.año_inicio.errors %}
                <div class="text-danger text-center"><small>{{ error }}</small></div>
            {% endfor %}
            {% for error in form.año_fin.errors %}
                <div class="text-danger text-center"><small>{{ error }}</small></div>
            {% endfor %}
        </div>

        <!-- Botones -->
        <div class="d-grid mt-4">
            <a href="{% url 'vehiculo:formulario_busqueda' %}" class="btn btn-custom btn-custom-danger mb-3 mx-auto" aria-label="Limpiar filtros de búsqueda">Limpiar filtros</a>
            <button type="submit" class="btn btn-custom btn-custom-success mx-auto">Enviar</button>
        </div>
    </form>
</div>
{% endblock %}
