{% extends 'home/base.html' %}
{% load static %}

{% block CONTENIDO %}
<section class="bg-light py-5 mt-5">
    <div class="container">
        <form method="GET" action="{% url 'vehiculo:comparar_vehiculos' %}" class="formulario-comparar animacion p-4">
            <h2 class="text-center mb-3" style="color: #000; font-size: 1.5rem;">Resolvé tus dudas</h2>
            <h6 class="text-center mb-4">Seleccione dos vehículos a comparar</h6>

            {% if messages %}
                {% for message in messages %}
                    <p class="text-danger text-center small mb-3">{{ message }}</p>
                {% endfor %}
            {% endif %}

            <!-- Selects -->
            <div class="d-flex justify-content-center gap-2 mb-4">
                <div class="mb-3">
                    <select name="vehiculo_1" id="vehiculo_1" class="form-select">
                        <option value="">Vehículo 1</option>
                        {% for vehiculo in vehiculos %}
                            <option value="{{ vehiculo.id }}">{{ vehiculo.modelo }} {{ vehiculo.version }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="mb-3">
                    <select name="vehiculo_2" id="vehiculo_2" class="form-select">
                        <option value="">Vehículo 2</option>
                        {% for vehiculo in vehiculos %}
                            <option value="{{ vehiculo.id }}">{{ vehiculo.modelo }} {{ vehiculo.version }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <!-- Botón -->
            <div class="d-grid mt-3">
                <button type="submit" class="btn btn-custom btn-custom-success mx-auto">Comparar</button>
            </div>
        </form>
    </div>
</section>
{% endblock CONTENIDO %}
