{% extends "home/base.html" %}

{% block CONTENIDO %}
    <div class="d-flex justify-content-center">
        <h1 style="font-size: 0.8rem; 
                   border-radius: 25px;
                   color: #ededed;
                   background-color: #23933d;
                   box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
                   padding: 0.6rem; 
                   width: fit-content;
                   margin-top: 10rem; margin-bottom: 10rem;">
            Formulario enviado con éxito
        </h1>
    </div>
{% endblock CONTENIDO %}
