/* Estilos para el formulario en la plantilla nuevos y usados */
.container .filtro-formulario {
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #f8f9fa;
    max-width: 500px;
    margin: auto;   
}

.container .filtro-formulario select {
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #495057;
    appearance: none;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease, background-color 0.3s ease;
    text-align: center;
}

.container .filtro-formulario select:focus {
    border-color: #80bfff;
    background-color: #fff;
}

/* Estilos para los botones en la plantilla nuevos y usados */
.container .btn-custom {
    width: 150px;
    border-radius: 20px;
    font-size: 0.875rem;
    font-weight: bold; /* Letras en negrita */
    padding: 10px 20px;
    transition: background-color 0.5s ease, transform 0.5s ease; /* Transición más lenta */
}

/* Botón de información (Ir a usados) */
.container .btn-custom-info {
    background-color: #99c2ff;
    border: 1px solid #99c2ff;
    color: #fff;
}

.container .btn-custom-info:hover {
    background-color: #80bfff;
    transform: scale(1.05);
    color: #fff; /* Mantener el color blanco durante el hover */
}

.container .btn-custom-info:active {
    background-color: #80bfff; /* Oscurecer un poco el color al hacer clic */
    transform: scale(1.1); /* Agrandar un poco más al hacer clic */
}

/* Botón de éxito (Menú principal) */
.container .btn-custom-success {
    background-color: #28a745;
    border: none;
    color: #fff;
}

.container .btn-custom-success:hover {
    background-color: #23933d;
    transform: scale(1.05);
    color: #fff; /* Mantener el color blanco durante el hover */
}

.container .btn-custom-success:active {
    background-color: #23933d; /* Oscurecer un poco el color al hacer clic */
    transform: scale(1.1); /* Agrandar un poco más al hacer clic */
}

/* Botón de peligro (Limpiar filtros) */
.container .btn-custom-danger {
    background-color: #dc3545;
    border: none;
    color: #fff;
}

.container .btn-custom-danger:hover {
    background-color: #c82333;
    transform: scale(1.05);
    color: #fff; /* Mantener el color blanco durante el hover */
}

.container .btn-custom-danger:active {
    background-color: #c82333; /* Oscurecer un poco el color al hacer clic */
    transform: scale(1.1); /* Agrandar un poco más al hacer clic */
}

